<div class="row" id="notes-container">
	{{#notes}}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="panel panel-{{type}}">
				<div class="panel-heading">By {{created_by}} at {{created}}</div>
				<div class="panel-body">
					{{content}}
				</div>
			</div>
		</div>
	</div>

	{{/notes}}
	{{^notes}}
	<p class="text-center text-muted">none found</p>
	{{/notes}}
</div>
<div class="row">
	<form class="form-horizontal" id="form-notes">
		<input type="hidden" name="csrf" value="{{csrf}}" />
		<div class="form-group">
			<label class="control-label col-lg-3">Type: </label>
			<div class="col-lg-2">
				<select class="form-control" name="type">
					{{#options}}
						<option value="{{type}}">{{value}}</option>
					{{/options}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">Note: </label>
			<div class="col-lg-6">
				<textarea class="form-control" name="content"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-6">
				<a href="#" class="nolink btn btn-primary" id="user-note-add">Post</a>
			</div>
		</div>
	</form>
</div>

<script type="application/javascript">
	var note_routes = {{&routes}};
</script>