<p>Welcome to {{site_name}} {{username}},</p>

<p>
Your registration went fine, all that's left for you to do is to activate your account. <br />
Your activation code is: {{activation_code}}
</p>

<p>
Just follow this link to activate your account: <br />
<a href="{{activation_link}}">{{activation_link}}</a>
</p>