<p>hi {{username}},</p>

<p>
You requested to change your password, <br />
your reset token is: {{reset_code}}
</p>

<p>
Just follow this link to reset your password: <br />
<a href="{{reset_link}}">{{reset_link}}</a>
</p>